---
layout: page
description: "Smol Steps, Big Changes."
---

<style>

/* img {
            height: 150px;
            width: 250px;
            object-fit: cover;
	        float: left;
            border: 30px;
            margin: 0 15px 0 0;
        } */

        .container {
  display: flex;
  align-items: left;
  justify-content: left;
  
}

img {
  max-width: 200px;
  max-height: 250px;
  border: 30px;
  object-fit: cover;
  float: left;    
  margin: 0 20px 0 0;
 
}

.text {
  font-size: 20px;
  padding-left: 20px;
  float: right;
}
</style>

{% for post in paginator.posts %}
{% if post.categories contains 'travel' %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.categories }}
        </h3>
        {% endif %}


        
            <div class="img">
                <img src="{{- post.header-img -}}" alt="post.url">
            </div>
            <div class="post-content-preview">
                {{ post.content | strip_html | truncate:400 }}
            </div> 
          


        <!-- Table Method -->
        <!-- <table>
            <td> 
                <img src="{{- post.header-img -}}" alt="post.url"> 
            </td>
            <td>
                 <div class="post-content-preview">
                {{ post.content | strip_html | truncate:200 }}
                </div> 
            </td>
        </table> -->

    
    </a>
   
</div>

<hr>
<br>
<p class="post-meta">
    Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
</p>
{% endif %}
{% endfor %}


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
